.songView{
    height: 100px;
    max-width: 150px;
    border: 3px dotted #333;
    text-align: center;
    border-radius: 15px;
    padding-top:50px;
}

.boxView{
    height: 50px;
    width: 50px;
    border: 2px solid #333;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin: -12px 25px 0;
}
.presetView{
    width: 520px;
    height: 25px;
    background-color: #333;
    margin: -90px 153px 0;
}
