.songView{
    height: 50px;
    max-width: 200px;
    border: 3px dotted #333;
    text-align: center;
    border-radius: 15px;
}

.boxView{
    height: 50px;
    max-width: 50px;
    border: 2px solid #333;
    text-align: center;
    border-radius: 5px;
    background-color: #756;
}